/* Variables */
$blanc  : #fff;
$noir : #000;
$highlight  : #228c39;

$primaryFont  : 'Raleway', sans-serif;
$titleFont    : 'Kaushan Script', cursive;

@import 'media-queries.scss';
@import 'fontello.css';
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;
  font-family: $primaryFont;
  line-height: 1.6em;
}

h1 {
  letter-spacing: 4px;
  font-family: $titleFont;
  font-size: 2rem;
  font-weight: 300;
}

.fa {
  font-size: 24px!important;
  color: #666;
  padding: .5em .1em;
  &:hover {
    color: lighten(#666, 20);
    transition: .8s;
  }
}

a.social {
  padding: .6em .2em;
}

a.button {
  border: none;
  padding: .5em 1em;
  border: 2px solid #ccc;
  border-radius: 5px;
  &:hover {
    background: #ccc;
    cursor: pointer;
    transform: scale(1.1);
    transition: .8s;
  }
  &:first-of-type {
    margin-right: 5px;
  }
}

.container {
  width: 1400px;
  margin: 0 auto;
}

section {
  display: block;
  
  &.left {
    background: $blanc;
    position: relative;
    color: $noir;
    width: 100%;
    height: 50%;
    margin: auto 0;

    @include desktop {
      width: 40%;
    }

    > div.desc-content {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-content: center;

     span.links {
       margin-top: 10px;
       flex-direction: row;
     }
    }

    p {
      width: 80%;
    }

    @include desktop {
      height: 100%;
    }
  } /* left */
  
  &.right {
    position: absolute;
    width: 100%;
    height: 50%;
    overflow: hidden;
    background-image: url('assets/computer.jpg');
    background-size: cover;
    background-position: center;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

    @include desktop {
      width: 60%;
      height: 100%;
      right: 0;
      &:before {
        content: "";
        position: absolute;
        right: 54%;
        height: 100%;
        width: 150%;
        background: $blanc;
        -webkit-transform: rotate(100deg);
        -moz-transform: rotate(100deg);
        transform: rotate(100deg);
      }
    }
  } /* right */

  @include desktop {
    display: inline-block;
    min-height: 700px;
  }
} /* section */

.fadeIn {
  opacity: 0;
  animation: fadeIn 1.8s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

form {
  margin: 0 auto;
  display: flex;
  justify-content: center;

   & > * {
    padding: 10px 0;
    margin: 0 10px;
    width: 200px;
    border: none;
    border-bottom: 2px solid $noir;
   }

   input[type="submit"] {
     border-bottom: none;
   }

   select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
   }
 }

footer {
  padding: 60px 0;
}