h1 {
    font-family: $titleFont;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2rem;
    margin: 0 0 20px 0;
    color: $secondary;
    @include desktop {
      line-height: 1.6rem;
    }
  }
  
.fa {
  font-size: 24px!important;
  color: $noir;
  padding: .5em .1em;
  &:hover {
    opacity: .6;
    transition: .8s;
  }
}

p {
  line-height: 1.6rem;
  font-size: .9rem;
  font-weight: 300;
}